/* Use the smaller css for common variables and shared styles */

.project-card {
    width: 390px;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: var(--border-radius-small);
    background-color: var(--background-dark);
}

/* Header styling */
.project-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-standard);
}

.project-card-header h2 {
    color: var(--primary-color);
    font-size: 33px;
    letter-spacing: 1px;
}

.project-card-header img {
    border: 1px solid var(--primary-color);
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-small);
}

.project-card-header img:hover {
    border-width: 2px;
    border-color: #ffffff;
    cursor: pointer;
}

/* Footer section */
.project-card-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: var(--gap-standard);
    margin-bottom: var(--gap-standard);
}

.project-card-button{
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius-small);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}