.black-gradient {
    background: #000000;
    background: -webkit-linear-gradient( to right, #434343, #000000);
    background: linear-gradient( to right, #434343, #000000);
}
.gradient-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;

    border-radius: 20px;
    border: 2px solid transparent;

    background-image:
            linear-gradient(#031010, #031010),
            linear-gradient(to bottom, #1b3d3d 1.9%, #23b5b5 97.5%);

    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}

.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* fundo escuro com degradê radial sutil no centro */
    background: radial-gradient(circle at center, rgba(11,36,36,0.8), #041414);
    /* sombra interna e externa para o “glow” */
    box-shadow:
            inset 0 0 8px rgba(35,181,181,0.5),
            0 4px 8px rgba(35,181,181,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle svg {
    /* quanto maior o blur, mais suave o halo */
    filter: drop-shadow(0 0 6px rgba(35,181,181,0.7));
}

.title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.blue-gradient {
    background: #23B5B5;
    background: linear-gradient(-90deg, #23B5B5 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient( -90deg, #23B5B5 0%, rgba(60, 51, 80, 0) 100%);
}

.green-red-gradient {
    background: "#262e2e";
    background: linear-gradient(90.13deg, #1b3d3d 1.9%, #23B5B5 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #1b3d3d 1.9%, #23B5B5 97.5%);
}

.dark-teal-gradient {
    background: "#091011";
    background: linear-gradient(90.13deg, #091011 1.9%, #0d2e2e 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #091011 1.9%, #0d2e2e 97.5%);
}

.orange-text-gradient {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #f12711, #f5af19);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #f12711, #f5af19);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.green-text-gradient {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #11998e, #38ef7d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #11998e, #38ef7d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: #56ccf2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #2f80ed, #56ccf2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #2f80ed, #56ccf2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #ec008c, #fc6767);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #ec008c, #fc6767);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-text-gradient {
    background: #d31027;
    background: -webkit-linear-gradient( to top, #d31027, #ea384d);
    background: linear-gradient( to top, #d31027, #ea384d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-text-gradient {
    background: #673ab7;
    background: -webkit-linear-gradient( to top, #673ab7, #8e44ad);
    background: linear-gradient( to top, #673ab7, #8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
    background: #f7b733;
    background: -webkit-linear-gradient( to top, #f7b733, #fc4a1a);
    background: linear-gradient( to top, #f7b733, #fc4a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teal-text-gradient {
    background: #00d2ff;
    background: -webkit-linear-gradient( to top, #00d2ff, #3a7bd5);
    background: linear-gradient( to top, #00d2ff, #3a7bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gold-text-gradient {
    background: #d4d3dd;
    background: -webkit-linear-gradient( to top, #d4d3dd, #efa58d);
    background: linear-gradient( to top, #d4d3dd, #efa58d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brown-text-gradient {
    background: #8B4513;  /* This is a saddle brown color as a fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8B4513, #A0522D); /* saddle brown to sienna */
    background: linear-gradient(to top, #8B4513, #A0522D); /* saddle brown to sienna for modern browsers */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* canvas- styles */

.canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}