

.skill {
    padding: 50px 0;
    position: relative;
    background: transparent;
}
.skill-bx {
    background: rgba(21, 21, 21, 0.9);
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
    margin-bottom: 100px;
}
.skill h2 {
    font-size: 45px;
    font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
.skill-slider .item img {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px auto;
}
.background-image-left {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.custom-arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.custom-left-arrow {
    /*left: -50px; !* Adjust as needed *!*/
    border: 1px red solid;
    position: absolute;
    left: 1%;
    top: 40%;
}

.custom-right-arrow {
    border: 1px red solid;
    position: absolute;
    right: 1%;
    top: 40%;

    @media (max-width: 768px) {
        border: 1px yellow solid;
        right: -3%;
    }
}

.react-multi-carousel-item{
    /*border: 1px deeppink solid;*/
}