:root {
    /* Define common colors, dimensions, and shadows to use throughout the project */
    --primary-color: #0AF7A4;
    --primary-color-hover: #5c2eff;
    --core-skills-color: #60AFFF;
    --frameworks-color: #F77C0A;
    --libraries-color: #F7E30A;
    --background-dark: rgba(18, 18, 18, 0.5);
    --text-color: white;
    --border-color: #ccc;
    --button-bg-color: #480AF7;
    --border-radius-small: 5px;
    --text-shadow-standard: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    --gap-standard: 1rem;
}

.core-skills-border {
    border: 1px solid var(--core-skills-color); /* Ensure full border style is specified */
}

.frameworks-border {
    border: 1px solid var(--frameworks-color);
}

.libraries-border {
    border: 1px solid var(--libraries-color);
}

/* Project card container styles */
.project-card {
    width: 420px;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: var(--border-radius-small);
    background-color: var(--background-dark);
}

/* Header styling for project card */
.project-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-standard);
}

.project-card-header h2 {
    color: var(--primary-color);
    font-size: 33px;
    letter-spacing: 1px;
    text-shadow: var(--text-shadow-standard);
}

.project-card-header img {
    border: 1px solid var(--primary-color);
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-small);
}

.project-card-header img.hovered {
    border-width: 2px;
    border-color: #FFFFFF;
    cursor: pointer;
}

/*@keyframes borderGlow {*/
/*    from {*/
/*        border-width: 1px;*/
/*        border-color: var(--primary-color); !* Start with the original color *!*/
/*    }*/
/*    to {*/
/*        border-width: 2px;*/
/*        border-color: #FFFFFF; !* End with white color *!*/
/*    }*/
/*}*/

.project-card-header p {
    color: var(--text-color);
}

/* Footer styling for project card */
.project-card-footer {
    /*border: 1px red solid;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: var(--gap-standard);
    margin-bottom: var(--gap-standard);
}

/* Panel styles within the card footer */
.project-card-skills-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-standard);
    /*border: 1px solid var(--core-skills-color);*/
    padding: 8px;
    border-radius: var(--border-radius-small);
}

.project-card-skills-panel h3 {
    color: var(--core-skills-color);
    text-shadow: var(--text-shadow-standard);
}

/* Skills row and individual skill container */
.skills-row {
    /*border: 1px aqua solid;*/
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-standard);
    flex-wrap: wrap;
}

.project-single-skill {
    /*border: 1px solid red;*/
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

/* Skill icon and label styling */
.project-skill-icon {
    width: 55px;
    /*border: 1px solid var(--core-skills-color);*/
    border-radius: 50%;  /* Makes the icon fully rounded */
}

.project-skill-icon:hover{
    cursor: pointer;
    border: 2px solid white;
}

.project-skill-label {
    padding: 0.35rem;
}

/* Button styling at the bottom of the card */
.project-card button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius-small);
    transition: background-color 300ms ease-in-out;
}

.project-card button:hover {
    background-color: var(--primary-color-hover);
    color: var(--text-color);
    border: 1px white solid;
}

.hidden-footer{
    margin-top: 1rem;
    text-align: center;
}

.hidden-footer img{
    width: 45%;
}

.hidden-footer h3{
    color: white;
}